.c3-legend-item {
    font-size: 15px;
    margin-top: 0px;
}

.c3 svg {
  font-family: inherit;
}

#chart2 .c3-line {
    stroke-width: 3px;
    stroke-linecap: round;
}

.table-number {
    font-size: 72px;
    margin-top: 15px;
    margin-bottom: 30px
}
